[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylama = "*"
yapf = "*"

[packages]
flask = "*"
flask-wtf = "*"
wtforms = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
ipython = "*"
flask-login = "*"
jedi = "*"
autoflake = "*"
coverage = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
flask-mail = "*"
pyjwt = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-babel = "*"
guess-language-spirit = "*"
requests = "*"
uuid = "*"
python-dotenv = "*"
elasticsearch = "*"

[requires]
python_version = "3.7"
