[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
pylint = "*"

[packages]
flask = "*"
flask-wtf = "*"
wtforms = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
ipython = "*"
flask-login = "*"
jedi = "*"
autoflake = "*"
coverage = "*"

[requires]
python_version = "3.7"
